body {
  font-family: "Helvetica", sans-serif;
}

.head-of {
  background-image: url("../images/flatiron.png");
  text-align: center;
  color: white;
}

.head-of h1 {
  font-size: 70px;
}

.top-nav {
  font-size: 18px;
  color: white;
}